:root {
  --left-width: calc(100% / 8);
  --right-width: calc(100% - var(--left-width));
  --border: 1px solid white;
  --border-radius: 0.5vw;
  --font-size: 0.8vw;
  --light-gray: #a3a3a3;
  --medium-gray: #5e5e5e;
  --dark-gray: #191919;
}

body {
  background-color: black;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0 1%;
}

.app-logo {
  width: var(--left-width);
  background-image: url("./assets/logo.png");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2%;
}

.search-bar {
  --padding: 1%;
  --margin: 2%;
  width: calc(var(--right-width) - var(--padding) * 2 - var(--margin) * 2);
  padding: var(--padding);
  margin: 0 var(--margin) 0;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: calc(var(--font-size) * 1.5);
  color: white;
  background-color: var(--dark-gray);
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0 1%;
}

.sidebar {
  width: var(--left-width);
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  color: white;
  background-color: var(--dark-gray);
}

.sidebar-title {
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
  text-align: center;
}

.genre {
  display: flex;
  padding: 2.5% 5% 2.5%;
}

.genre:hover {
  box-shadow: 0 0 5px 1px var(--light-gray);
  background-color: var(--medium-gray);
}

.genre-icon {
  object-fit: contain;
  width: 20%;
  margin-right: 5%;
}

.genre-name {
  font-size: calc(var(--font-size) * 1.5);
}

.card-grid {
  width: var(--right-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-shape {
  --cards: 5;
  --spacing: 2%;
  width: calc((100% - (var(--spacing) * (var(--cards) + 1))) / var(--cards));
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 2%;
}

.card-shape:hover {
  box-shadow: 0 0 10px 1px var(--light-gray);
  /* scale: 1.05; */
}

.card-image {
  object-fit: cover;
  height: 50%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card-text {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  text-align: center;
  color: white;
  background-color: var(--dark-gray);
}

.title {
  font-size: calc(var(--font-size) * 4 / 3);
  font-variant-caps: small-caps;
  padding: 2.5%;
}

.blurb {
  font-size: var(--font-size);
  overflow: hidden;
  padding: 2.5%;
}

.blurb:hover {
  overflow-y: scroll;
}

.launch {
  font-size: calc(var(--font-size) * 1.25);
  color: white;
  text-decoration-line: underline;
  padding: 2.5%;
}

.launch:hover {
  color: white;
}
